%section.register.container
  .row
    .span10.offset1
      .form-horizontal
        = form_for @user do |f|
          %header
            %h1 Register
          %fieldset
            .control-group
              = f.label :email, "Email Address", :class => "control-label"
              .controls
                = f.text_field :email, :class => "span3"
            .control-group
              = f.label :password, "Password", :class => "control-label"
              .controls
                = f.password_field :password, :class => "span3"
            .control-group
              = f.label :full_name, "Full Name", :class => "control-label"
              .controls
                = f.text_field :full_name, :class => "span3"
          %fieldset.credit_card
            .control-group
              %label.control-label Credit Card Number
              .controls
                %input.span3(type="text")
            .control-group
              %label.control-label Security Code
              .controls
                %input.span3(type="text")
            .control-group
              %label.control-label Expiration
              .controls
                = select_month(Date.today, {add_month_numbers: true},  class: 'span2')
                = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'span1')
          %fieldset.actions.control-group
            .controls
              = f.submit "Sign Up", :class => "btn"
