%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        =image_tag @video.large_cover || "http://dummyimage.com/665x375/000000/00a2ff"
      .video_info.span3
        %header
          %h3= @video.title
          %span Rating: #{@reviews.average("rating").round(1)}/5.0
        %p= @video.description
        .actions
          = link_to "Watch Now", "#", :class => "btn btn-primary"
          = link_to "+ My Queue", "#", :class => "btn"

%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, Review.new] do |f|
        %fieldset
          = f.label :rating, "Rate this video"
          = f.select :rating, 5.downto(1).map { |i| [pluralize(i, "Star"), i] }
          = f.label :content, "Write Review"
          = f.text_area :content, :rows => 6, :class => "span6"
        %fieldset.actions.clearfix
          = f.submit "Submit", :class => "btn"
          = link_to "Cancel", "#"
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating} / 5
                %p by #{link_to review.user.full_name, "#"}
              .span8
                %p #{review.content}
