%section.invite.container
  .row
    .span10.offset1
      = bootstrap_form_for @invitation, :html => {:class => "invite"} do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.text_field :recipient_name, label: "Friend's Name"
          = f.text_field :recipient_email, label: "Friend's Email Address"
          = f.text_area :message, :rows => 6, :class => "span4", placeholder: "Please join this really cool site!", label: "Invitation Message"
        %fieldset.action
          = f.submit "Send Invitation", :class => "btn"
